<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
		    <string>rclone.mount</string>
  		<key>RunAtLoad</key>
		    <true/>
		<key>KeepAlive</key>
			<true/>
		<key>ProgramArguments</key>
			<array>
				<string>/usr/local/bin/rclone</string>
				<string>mount</string>
                                <string>--cache-dir=/tmp/rclone/vfs</string>
                                <string>--multi-thread-streams=1024</string>
                                <string>--multi-thread-cutoff=128M</string>
                                <string>--vfs-cache-mode=full</string>
                                <string>--vfs-cache-max-size=100G</string>
                                <string>--vfs-cache-max-age=8760h</string>
                                <string>--buffer-size=64K</string>
                                <string>--vfs-read-chunk-size=64K</string>
                                <string>--vfs-read-chunk-size-limit=64K</string>
                                <string>--volname=Onedrive</string>
				<string>onedrive:</string>
				<string>/Users/<USER>/Onedrive</string>	
			</array>
	</dict>
</plist>
